body {
  background-color: red;
}

.btn {
    cursor: pointer;
}

h1 {
  color: white;
}

.clicked{
   color: aqua; 
}

.form, .greetings{
    display: none;
}

.showing{
    display: block;
}